@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
</style>
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    max-width: 1200px;
    margin:0 auto;
    /* background-color: rgb(245, 242, 242); */
    font-family: 'Roboto', sans-serif;
    
}
section,header{
    margin:50px 0 ;
    padding:0 30px;

}
.section-heading{
    margin:100px auto 50px;
    text-align: center;
    font-size: 30px;

}
.primary-button{
    background-color: #c50b4f;
    color:#fff;
    border:none;
    border-radius:15px;
    padding:10px 20px;
    margin:20px 0;
    font-weight: 600;
    transition: .3s;

}
.primary-button:hover{
    background-color: #71203e;
}
.primary-button i{
    font-size: 18px;
    margin-left: 7px;

}

.navbar{
    display:flex;
    justify-content: space-between;
    margin-top:50px;
    align-items: center;
   
}
.nav-title{
   color:#3A3A3A;
   font-size: 20px;
}
.nav-manu{
    display:flex;
}
.nav-manu  li{
    list-style: none;
    padding:10px;
}
.nav-manu  li:hover{
    cursor: pointer;
}
.nav-manu li a{
    text-decoration: none ;
    color:#000;
}
.banner{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;   
    margin-top: 70px; 
}
.left-banner h1{
    color:#3A3A3A;
    padding:20px 0;
    font-size: 35px;

}
.left-banner p{
    color:#3A3A3A;
    padding:10px 0;
}


.right-banner img{
    height:300px;
    justify-content:center;   
    display:inline-flex;
    margin-left:100px;
    transition: .5s;
}

.right-banner img:hover{
    transform: scale(1.1);
}


.logos{
     display:flex;
    justify-content: center;  
    align-items:center;
}
.logo{
    margin:10px;
    padding: 10px;
    cursor: pointer;
}


.product-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);

    }
.product-cart{
    width:300px;
    height:475px;
    box-shadow: 2px  2px 20px #a6a3a3;
    border-radius:5px;
    padding:15px;
    margin: 20px;
}
.product-cart img{
    width:270px;
    height:250px;
}
.product-detail{
    margin: top 15px;
    color:#18191F;

}
.product-detail .product-name{
    margin:10px 0;
    text-transform: capitalize;
    font-size: 25px;

}
.product-detail .price{
    margin-bottom:10px;
    font-size: 22px;
}
.ratting{
    display: flex;
    align-items: center;
    margin-bottom:20px ;
}
.icon{
    color:goldenrod;
    font-size: 20px;
    margin-right: 20px;
   
}
.product-button{
    display:flex;
    justify-content: flex-end;
    border:none;
    color:#E02C6D;
    font-weight: 700;
    background: none;
    margin-right:20px;
}




.cart{
  margin:0 auto;
    background-color: #E02C6D;
    width:400px;
    padding:30px;
    color:#fff;
}
.cart li{
    list-style:none;
    margin: 40px 0;
    text-transform: capitalize;
    position: relative;
}
li::before {
    content: '';
    width: 100%;
    height: 10px;
    border-radius: 100px;
    background: #fff;
    position: absolute;
    top: calc(100% + 5px);
}
li::after {
    content: '';
    width: 0px;
    height: 10px;
    border-radius: 100px;
    background: #151030;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    animation: ease-in-out;
    animation-duration: 3s;
    animation-timing-function:ease-in;
    animation-delay: 1s;
    animation-iteration-count: 5;

 
}
/* html  */
li.html::after {
    animation-name: html;
}


@keyframes html {
    to {
        width: 80%;
    }
}
            
li.css::after {
    animation-name: css;
}
            /* css */
@keyframes css {
    to {
        width: 70%;
    }
}
            /* javascript */
li.js::after {
    animation-name: js;
}

@keyframes js {
    to {
        width: 70%;
    }
}
        /* bootstrap */
li.bootstrap::after {
    animation-name: bootstrap;
}

@keyframes bootstrap {
    to {
        width: 70%;
    }
}
li.react::after {
    animation-name: react;
}

@keyframes react {
    to {
        width: 90%;
    }
}
li.python::after {
    animation-name: python;
}

@keyframes python {
    to {
        width: 70%;
    }
}


.footer{
    padding:0;
    color:#fff;
    background-color: navy ;
    text-align: center;
    padding:18px 0;
}
.footer p{
    margin:8px 0;
}
.footer-icon i{
    padding:3px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 2px;

}
.footer-icon i:hover{
    background:#067dac;
   
    
}



@media only screen and (max-width:688px){
    
    .nav-title{
        margin:auto
    }
    .nav-manu{
        display: none;
    }
    
    .banner{
         display:grid;
         grid-template-columns: 1fr;
     }
     .banner-description{
         min-width:300px;
         width:100%;
     }
     .left-banner,.right-banner{
         width:50%;
     }
     .right-banner{
         width:100%
     }
     .right-banner img{
         margin-left:0;
         width:100%
     }
     .left-banner h1{
         font-size: 30px;
     }
     .section-heading{
         font-size: 30px;;
     }
 
     .logos{
         flex-wrap: wrap;
     }

 

     .product-container{
         grid-template-columns: 1fr;
        grid-gap: 30px;
        }
     .product-cart{
        justify-content: center;
        align-items: center;
        margin:  auto;
     }
     .product-button{
         margin:20px 30px 30px 0;

     }

   
     .footer{
         align-items: center;
     }

 }


 @media only screen and (min-width:688px) and (max-width:992px) {
    .banner{
        width:100%;
        display:grid;
        grid-template-columns: repeat(2,1fr);
    }
    .logos{
        flex-wrap:wrap;

    }
    .product-container{
        width:100%;
        grid-template-columns:repeat(2, 1fr);
    }
 }